.button {
  background-color: #1976d2;

  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  box-shadow: none;
  border: 1px solid #1976d2;
  outline: rgba(#1976d2, .6);
  color: #fff;
  font-size: 16px;
}
