.item {
  min-width: 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 16px;
  border: 1px solid #ddd;
  color: #333;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  box-shadow: none;
  margin-right: 16px;
  outline: rgba(#1976d2, .6);


}

.name {
  font-size: 16px;
  margin-right: 8px;
}

.remove {
  position: relative;
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &:before,
  &:after {
    content: '';
    position: absolute;
    display: block;
    width: 2px;
    height: 16px;
    background: red;
    border-radius: 0.25rem;
  }

  &:before {
    top: 2px;
    left: 10px;
    transform: rotate(45deg);
  }

  &:after {
    top: 2px;
    right: 8px;
    transform: rotate(-45deg);
  }
}
